<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            {% include icon-github.html username="klausi/rustnish" %}
          </li>

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
